/*!*******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-2.use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-2.use[3]!./src/styles/templates/page.ingredients.scss ***!
  \*******************************************************************************************************************************************************************************************************************************/
/*
 * Import style components for the current template.
 *
 * Write your own styles after imports.
 *
 * Design tokens are required and encapsulated for each template.
 * Import it from the design-tokens folder.
 */
 @keyframes processing {
    from {
      transform: translate(-50%, -50%) rotate(0deg); }
    to {
      transform: translate(-50%, -50%) rotate(360deg); } }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(360deg); } }
  
  @keyframes smooth {
    0% {
      opacity: 0;
      margin-top: -10px; }
    100% {
      opacity: 1;
      margin-top: 0; } }
  
  @keyframes slideSmooth {
    0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0); }
    100% {
      opacity: 1;
      transform: none; } }
  
  @keyframes SemiCircleProgressBar {
    0% {
      opacity: 0; }
    75% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  
  .ingredientCard {
    padding-top: 3.125rem;
    padding-bottom: 1.75rem; }
    @media (min-width: 64rem) {
      .ingredientCard {
        padding-top: 7.25rem; } }
  
  .ingredientCard__main {
    max-width: 82.25rem;
    margin: auto; }
  
  .ingredientCard__title {
    font-size: 1.6875rem;
    line-height: 1.5625rem;
    color: #1d4d57; }
    @media (max-width: 63.99rem) {
      .ingredientCard__title {
        margin-bottom: 0.25rem; } }
    @media (min-width: 64rem) {
      .ingredientCard__title {
        font-size: 3.75rem;
        line-height: 4.5rem; } }
  
  .ingredientCard__description {
    font-family: var(--body-font-secondary);
    font-size: var(--body-font-size-tertiary);
    line-height: var(--body-height-tertiary);
    letter-spacing: var(--body-space-tertiary);
    margin-bottom: 1.4375rem;
    color: #1d4d57; }
    @media (min-width: 64rem) {
      .ingredientCard__description {
        font-size: 1.3125rem;
        line-height: 1.6875rem;
        margin-bottom: 2.625rem;
        width: 60%; } }
  
  .ingredientCard__item {
    overflow: hidden; }
  
  .ingredientCard__row {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
    padding-bottom: 6rem; }
    @media (min-width: 48rem) {
      .ingredientCard__row {
        grid-template-columns: repeat(2, minmax(0, 1fr)); } }
    @media (min-width: 64rem) {
      .ingredientCard__row {
        grid-template-columns: repeat(3, minmax(0, 1fr)); } }
    @media (min-width: 80rem) {
      .ingredientCard__row {
        grid-template-columns: repeat(4, minmax(0, 1fr)); } }
  
  .ingredient__item {
    height: 40.625rem;
    position: relative;
    background-color: #ffffff;
    border-bottom: 0.0625rem solid #000; }
    @media (min-width: 64rem) {
      .ingredient__item {
        border-bottom: 0; } }
  
  .ingredient__title {
    font-family: var(--heading-font-secondary);
    font-size: var(--heading-3-size-tertiary);
    font-weight: var(--heading-weight-tertiary);
    line-height: var(--heading-3-height-tertiary);
    letter-spacing: var(--heading-space-tertiary);
    color: #1d4d57; }
    @media (min-width: 48rem) {
      .ingredient__title {
        font-size: 1.25rem;
        line-height: 1.25rem; } }
    .ingredient__title--details {
      height: 2.5rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 0.0625rem solid #000;
      padding-right: 2.5rem;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem; }
  
  .ingredient__image {
    padding-bottom: 1.5rem;
    max-width: 20.25rem;
    max-height: 20.25rem;
    width: 100%; }
  
  .ingredient__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .is--active .ingredient__details {
      display: none; }
    .ingredientCard__item .ingredient__details {
      cursor: pointer; }
  
  .ingredient__close {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-left: 0.0625rem solid #1d4d57;
    border-bottom: 0.0625rem solid #1d4d57;
    z-index: 3; }
  
  .ingredient__closeIcon {
    transition: transform 0.3s ease; }
    .is--active .ingredient__closeIcon {
      transform: rotate(45deg); }
  
  .ingredient__caseDetails {
    background-color: #f7f7f7; }
    .ingredient__caseDetails--toggle {
      display: none; }
      .is--active .ingredient__caseDetails--toggle {
        display: block; }
    .ingredient__caseDetails--slide {
      margin-left: 100%;
      width: 100%;
      z-index: 2;
      transition: margin-left 0.4s ease-in-out;
      position: absolute;
      top: 0; }
      /* .is--active .ingredient__caseDetails--slide {
        margin-left: 0; } */
  
  .ingredient__impactArea {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    border-bottom: 0.0625rem solid #000; }
  
  .ingredient__impactItem {
    padding-top: 1.25rem;
    padding-right: 0.25rem;
    padding-bottom: 1.25rem;
    padding-left: 0.25rem;
    text-align: center; }
    .ingredient__impactItem:nth-child(3n + 2) {
      border-left: 0.0625rem solid #000;
      border-right: 0.0625rem solid #000; }
  
  .ingredient__impactIcon {
    width: 6rem;
    margin: auto;
    height: 5rem;
    padding-bottom: 1.5rem; }
  
  .ingredient__impactLabel {
    font-size: 0.75rem;
    line-height: 1rem; }
  
  .ingredient__useCases {
    padding-top: 1rem;
    padding-right: 1.75rem;
    padding-bottom: 1rem;
    padding-left: 1.75rem;
    overflow-y: auto;
    height: 31.25rem; }
    .ingredient__useCases h5 {
      font-family: var(--body-font-secondary);
      font-size: var(--body2-font-size-tertiary);
      line-height: var(--body2-height-tertiary);
      letter-spacing: var(--body-space-tertiary);
      font-family: var(--display-font-secondary);
      text-transform: uppercase;
      color: #2d2d2d;
      padding-bottom: 0.75rem; }
    .ingredient__useCases p {
      font-family: var(--body-font-secondary);
      font-size: var(--body-font-size-tertiary);
      line-height: var(--body-height-tertiary);
      letter-spacing: var(--body-space-tertiary);
      padding-bottom: 1.25rem; }
    .ingredient__useCases::-webkit-scrollbar {
      width: 3px; }
  
  .layout__secondary .featureBanner {
    display: none; }
  
  .featureBanner__main {
    position: relative; }
    @media (min-width: 48rem) {
      .featureBanner__main {
        height: 40rem; } }
  
  .featureBanner__image img {
    width: 100%; }
    @media (min-width: 48rem) {
      .featureBanner__image img {
        height: 40rem;
        -o-object-fit: cover;
           object-fit: cover; } }
  
  .featureBanner__content {
    position: absolute;
    text-align: left;
    margin-left: 1.5rem;
    width: 83%;
    top: 4.0625rem; }
    @media (min-width: 48rem) {
      .featureBanner__content {
        margin-left: 3.75rem;
        top: 5.375rem;
        width: 40%; } }
  
  .featureBanner__title {
    font-family: var(--heading-font-secondary);
    font-size: var(--heading-2-size-secondary);
    font-weight: var(--heading-weight-secondary);
    line-height: var(--heading-2-height-secondary);
    letter-spacing: var(--heading-2-space-secondary);
    text-transform: uppercase;
    text-align: left;
    width: 100%; }
  
  .featureBanner__btn {
    margin-top: 1.5rem;
    line-height: 1.1875rem;
    font-family: var(--body-font-secondary); }
    @media (min-width: 64rem) {
      .featureBanner__btn {
        font-size: 1.0625rem;
        line-height: 1.375rem; } }
  
  .redesignhero__main {
    position: relative; }
  
  .redesignhero__content {
    position: absolute;
    top: 1.9375rem;
    left: 1rem;
    text-align: left;
    color: #ffffff; }
    @media (min-width: 80rem) {
      .redesignhero__content {
        top: 5.5rem;
        left: 4.8125rem; } }
  
  .redesignhero__heading {
    font-family: var(--heading-font-secondary);
    font-size: var(--heading-1-size-tertiary);
    font-weight: var(--heading-weight-tertiary);
    line-height: var(--heading-1-height-tertiary);
    letter-spacing: var(--heading-space-tertiary);
    max-width: 15.625rem; }
    @media (min-width: 48rem) {
      .redesignhero__heading {
        font-size: 3.75rem;
        line-height: 3.125rem; } }
    @media (min-width: 64rem) {
      .redesignhero__heading {
        max-width: 33.4375rem; } }
  
  .redesignhero__description {
    font-family: var(--body-font-secondary);
    font-size: var(--body-font-size-tertiary);
    line-height: var(--body-height-tertiary);
    letter-spacing: var(--body-space-tertiary);
    margin-top: 0.4375rem;
    max-width: 70%; }
    @media (min-width: 48rem) {
      .redesignhero__description {
        font-size: 1.3125rem;
        line-height: 1.6875rem;
        margin-top: 0.5rem;
        max-width: 80%; } }
  
  .redesignhero__btn--desktop {
    margin-top: 1.5rem;
    display: inline-block; }
    @media (max-width: 47.99rem) {
      .redesignhero__btn--desktop {
        display: none; } }
  
  .redesignhero__btn--mobile {
    position: absolute;
    bottom: 0.9375rem;
    left: 1rem;
    right: 1rem; }
    @media (min-width: 48rem) {
      .redesignhero__btn--mobile {
        display: none; } }
  
  body#ingredients {
    background-color: #f7f7f7;
    height: auto; }
  
  /* for ingredient grid item changes */
  .ingredient__item {
    height: 32.625rem;
    border: 0.0625rem solid #1d4d57;
    border-radius: 0.25rem; }
  
  .ingredient__close {
    border-top-right-radius: 0.25rem; }
  
  .ingredient__impactIcon {
    margin: auto;
    padding-bottom: 1rem; }
  
  .ingredient__caseDetails--slide {
    margin-left: 101%;
    border-radius: 0.25rem; }
  
  .ingredient__useCases {
    height: 21.4375rem; }
  
  .is--active .ingredient__details {
    display: flex; }
  
  .featureBanner {
    display: none; }
  
  