<header class="ms-header navbar-white">
      <nav class="ms-nav">
        <div class="ms-logo">
          <a href="index.html" data-type="page-transition">
            <div class="logo-dark">
              <img src="https://theme.madsparrow.me/emilynolan/wp-content/themes/emilynolan/assets/images/logo-dark.svg"
                alt="EmilyNolan">
            </div>
            <div class="logo-light current">
              <img
                src="./logo.png"
                alt="EmilyNolan">
            </div>
          </a>
        </div>
        <button class="hamburger" type="button" data-toggle="navigation">
          <span class="hamburger-box">
            <!-- <span class="hamburger-label">menu</span> -->
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <div class="height-full-viewport">
          <div class="ms-menu-section">
            <ul id="primary-menu" class="ms-navbar">
              <li id="menu-item-165"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-165 ms-nav-item">
                <a href="https://theme.madsparrow.me/emilynolan/" aria-current="page" data-type="page-transition"><span
                    class="nav-item__btn">Home</span><span class="nav-item__label">Back to home page</span></a></li>
              <li id="menu-item-169"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169 ms-nav-item"><a
                  href="https://theme.madsparrow.me/emilynolan/portfolio/" data-type="page-transition"><span
                    class="nav-item__btn">Portfolio</span><span class="nav-item__label">View all our works</span></a>
              </li>
              <li id="menu-item-277"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-277 ms-nav-item"><a
                  href="https://theme.madsparrow.me/emilynolan/discover-fascinating-stories/"
                  data-type="page-transition"><span class="nav-item__btn">Blog</span><span
                    class="nav-item__label">Discover fascinating stories</span></a></li>
              <li id="menu-item-166"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166 ms-nav-item"><a
                  href="https://theme.madsparrow.me/emilynolan/about/" data-type="page-transition"><span
                    class="nav-item__btn">About</span><span class="nav-item__label">Learn more about the
                    author</span></a></li>
              <li id="menu-item-168"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168 ms-nav-item"><a
                  href="https://theme.madsparrow.me/emilynolan/contact/" data-type="page-transition"><span
                    class="nav-item__btn">Contact</span><span class="nav-item__label">Get in touch and find
                    us</span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>