/*------------------------------------------------------------------
[Master Stylesheet]

Theme Name: Emily - Creative Photography Portfolio 
Version: 1.0
Author: madsparrow.us
Last change:    11/21/2017

--------------------------------------------------------------------

[Table of contents]

1. General style
    1.1 Typography
    1.2 Specials Classes
2. Header
    2.1 Menu
    2.2 Burger Button
    2.3 Collapse Navigation
3. Pages Style
4. Home Slider
    4.1 Slider Navigation Buttons
    4.2 Slider Inner Info
  4.3 Pagination
5. Albums
6. Gallery
7. Blog
8. About
9. Contact
10. Comments
11. Footer
12. Responsive Rules
13. WordPress Core

--------------------------------------------------------------------
# Font: 'Yantramanav';
--------------------------------------------------------------------
# Colors: #151515, #df1f29, #555555
------------------------------------------------------------------*/

/**
 * 1. General style
 */
 * {
    margin:0;
    padding:0;
    }
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    ::-moz-selection {
        background: #555;   
        color: #fff;
    }
    ::selection {
        background: #555;   
        color: #fff;
    }
    ::-moz-selection {
        background: #555;    
        color: #fff;
    }
    html {
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        line-height: 1;
        font-size: 16px;
    }
    body {
        position: absolute;
        width: 100%;
        margin: 0;
        padding-bottom: 50px;
        min-height: 100%;
        font-size: 16px !important;
        font-weight: 400;
        box-sizing: border-box;
        font-family: 'Yantramanav', Helvetica, sans-serif;
    }
    body.emilynolan-custom-font {
        font-family: inherit;
    }
    article,
    aside,
    details,
    figcaption,
    footer,
    header,
    hgroup,
    nav,
    section {
        display: block;
    }
    
    /* 1.1 Typography */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 20px;
        margin-bottom: 10px;
        color: initial;
        font-weight: 400;
    }
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        text-transform: uppercase;
    }
    h1 {
        font-size: 2.6179em;
    }
    h1.h1 {
        font-size: calc(80px + 1vw);
    }
    h2 {
        font-size: 2.0581em;
    }
    h2.h2 {
        font-size: calc(36px + 16 * (100vw - 992px) / 1508);
    }
    h3 {
        font-size: 1.618em;
    }
    h3.h3 {
        font-size: calc(28px + 16 * (100vw - 992px) / 1508);
    }
    h4 {
        font-size: 1.272em;
    }
    h4.h4 {
        font-size: calc(24px + 16 * (100vw - 992px) / 1508);
        font-weight: 300;
    }
    h5 {
        font-size: 1em;
    }
    h5.h5 {
        font-size: 20px;
        font-weight: 400;
    }
    h6 {
        font-size: .7862em;
    }
    h6.h6 {
        font-size: 18px;
        font-weight: 400;
    }
    p {
        font-size: calc(17px + 2 * (100vw - 992px) / 1508);
        line-height: 1.58em;
        font-weight: 300;
        margin: 0 0 15px;
    }
    blockquote {
        padding: 0;
        margin: 0 auto;
    }
    blockquote p {
        padding: 8px 16px;
        color: #151515;
        font-style: italic;
        font-weight: 300;
        margin: 20px auto;
    }
    .wp-block-pullquote {
        border-top: 3px solid #151515;
        border-bottom: 3px solid #151515;
        color: #40464d;
        margin-bottom: 20px;
    }
    .wp-block-quote:not(.is-large):not(.is-style-large) {
        border-left: 3px solid #151515;
    }
    p.has-drop-cap:not(:focus):first-letter {
       float:left;
       font-size:4.0em;
       line-height: .89;
       font-weight:100;
       font-style:normal;
    }
    button {
        background: transparent;
        border: none;
    }
    button:focus {
        outline: none;
    }
    input,
    textarea {
        font-family: inherit;
    }
    textarea {
        padding: 14px;
    }
    input:focus,
    textarea:focus {
        outline: none !important;
        border: 1px solid;
        border-color: #df1f29;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .wp-block-table.is-style-regular tr:nth-child(even) {
        background-color: transparent;
    }
    .wp-block-table.is-style-stripes tr:nth-child(even) {
        background-color: transparent;
    }
    table {
        border-collapse: collapse;
        line-height: 28px;
        width: auto;
        margin: 0 0 30px 0px;
    }
    td, th {
        border: 1px solid #ccc;
        text-align: left;
        padding: 8px 16px;
    }
    tr:nth-child(even) {
        background-color: #f6f6f6;
    }
    menu,
    ol,
    ul {
        padding-left: 20px;
    }
    li > ul,
    li > ol {
        margin-bottom: 0;
        margin-left: 1.5em;
    }
    li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    dfn,
    cite,
    em,
    i {
        font-style: italic;
    }
    address {
        font-size: calc(18px + 2 * (100vw - 992px) / 1508);
        line-height: 1.53;
        font-weight: 300;
        font-style: normal;
    
    }
    dl {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
    }
    dt {
        font-weight: 700;
        margin-bottom: 4px;
    }
    dd {
        margin: 0 1.5em 1.5em;
    }
    pre {
        background: #eee;
        font-family: "Courier 10 Pitch", Courier, monospace;
        font-size: 15px;
        font-size: 0.9375rem;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1.6em;
        border-radius: 0;
    }
    mark, ins {
        background: rgba(103,103,103,.3);
        text-decoration: none;
    }
    code {
        font-size: 14px;
    }
    hr {
        border: none;
        margin: 8px 0;
        border-top: solid 1px rgba(21, 21, 21, .2);
        clear: both;
    }
    a {
        color: #df1f29;
        text-decoration: none;
    }
    abbr {
       color: #ee802f; 
    }
    select {
        border: 1px solid #bbb;
        height: 3em;
        max-width: 100%;
        width: calc(100% - 30px);
        position: relative;
        display: block;
        padding: 0 1em;
        margin-left: 15px;
    }
    b, strong {
        font-weight: bold;
    }
    /*Material Icons*/
    @font-face {
      font-family: 'Material Icons';
      font-style: normal;
      font-weight: 400;
      src: url(../fonts/material-icons.woff2);
    }
    .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
    }
    .ms-button input[type="submit"] {
        position: absolute;
        display: inline-block;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
    input[type="submit"]:focus {
        outline: none;
    }
    select {
        outline: 0;
    }
    .wp-block-button {
        color: #fff;
        margin-bottom: 1.5em !important;
    }
    .wp-block-button__link {
        color: #151515;
        background-color: transparent;
        display: inline-block;
        position: relative;
        padding: .6em 1em;
        margin-bottom: 0;
        font-weight: 400 !important;
        font-size: 14px;
        letter-spacing: .15em;
        text-transform: uppercase;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        text-decoration: none;
        border: solid 1px;
        border-radius: 0;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }
    .wp-block-button__link:hover {
        background-color: #151515;
    }
    /* 1.2 Specials Classes */
    .no-transition-effect {
        background-color: #fff;
    }
    /* .transition-effect {
        background-color: #212121;
    } */
    .nopadding {
        padding: 0 !important;
        margin: 0 auto;
    }
    .c-white {
        color: #fff !important;
    }
    .navbar-white {
        color: #fff;
        background-color: transparent !important;
    }
    .center-block {
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .align-left {
        text-align: left;
    }
    .align-right {
        text-align: right;
    }
    .align-center {
        text-align: center;
        display: block;
    }
    .socials {
        padding-left: 0;
    }
    .socials li {
        display: inline-block;
    }
    .share-links a i {
        color: #151515;
        font-size: 19px;
        padding: .5em;
    }
    [class*="socicon-"] {
      display: inline-block;
      color: inherit;
      margin: 0;
      -webkit-transition: opacity .3s ease;
      -o-transition: opacity .3s ease;
      transition: opacity .3s ease;
    }
    .ms-single-album__nav a:hover,
    [class*="socicon-"]:hover {
      opacity: .4;
    }
    .research-form {
        width: 50%;
        margin-left: -15px;
    }
    .dashicons {
        font-size: inherit;
        margin-right: 4px;
        color: inherit;
    }
    .clerfix {
        clear: both;
    }
    .post-item__info.post-nothumb {
        margin-left: 0;
    }
    .ms-delimiter,
    .ms-delimiter-sm {
        margin: 1.5em 0;
        float: left;
        width: 100%;
        height: 1px;
        display: block;
        background-color: rgba(21, 21, 21, .2);
    }
    .ms-delimiter-sm {
        margin: 0 0 1em 0;
    }
    
    /* 1.3 Button */
    .ms-button {
      color: #151515;
      display: inline-block;
      position: relative;
      padding: .6em 1em;
      margin-bottom: 0;
      font-weight: 400 !important;
      font-size: 14px;
      letter-spacing: .15em;
      text-transform: uppercase;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
          touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      text-decoration: none;
      border: solid 1px;
      -webkit-transition: color .4s ease;
      -o-transition: color .4s ease;
      transition: color .4s ease;
    }
    .ms-button:after {
        position: absolute;
        display: block;
        content: attr(data-title);
        padding: .6em 0;
        font-size: 14px;
        left: 0;
        top: 0;
        width: 0%;
        background: #df1f29;
        color: #fff;
        text-indent: 1rem;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        overflow: hidden;
        border: none;
        bottom: 0;
    }
    .ms-button:hover {
      color: #df1f29;
    }
    .btn-load {
        background: #df1f29;
        border-color: #df1f29;
        color: #fff !important;
        pointer-events: none;
        min-width: 90px;
    }
    .btn-load:after {
        content: '';
        z-index: -1;
    }
    .btn-load .label-button {
        animation: blinker 1s linear infinite;
    }
    @keyframes blinker {  
      50% { opacity: 0; }
    }
    .btn-disabled {
        opacity: .5;
        color: rgb(103,103,103);
        pointer-events: none;
        cursor: no-drop;
    }
    .ms-button:active::after,
    .ms-button:focus::after,
    .ms-button:hover::after {
        width: 100%;
        padding-right: 25px;
    }
    
    .ms-btn--slider {
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        font-weight: 600;
        letter-spacing: .15em;
        font-size: 1em;
        padding-left: 3rem;
        line-height: 2.8em;
        transition: all .3s ease;
    }
    .ms-btn--slider::before{
        content: '';
        position: absolute;
        left: 0;
        background: #df1f29;
            background-color: rgb(223, 31, 41);
        height: 1px;
        top: 49%;
        width: 2em;
        -webkit-transition: width .3s ease;
        -o-transition: width .3s ease;
        transition: width .3s ease;
        }
    .ms-btn--slider:hover::before {
      width: 3rem;
    }
    .ms-btn--slider:hover {
      padding-left: 4rem;
    }
    
    /**
     * 2. Header
     */
    
    .ms-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 4;
        padding: 0 15px;
    }
    .ms-header::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: auto;    top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(255,255,255,.9);
    }
    .navbar-white.ms-header::after {
        content: '';
        background-color: transparent;
    }
    
    /* 2.1 Menu */
    .ms-nav {
        padding: 2em 3em 1em;
        color: inherit;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .ms-logo {
        position: relative;
        z-index: 7;
        width: 30%;
        height: 50px;
    }
    .ms-logo .current {
        opacity: 1;
    }
    .ms-logo__default {
        height: 100%;
        display: flex;
        align-items: center;
        -webkit-transition: color .3s cubic-bezier(0.7,0,0.3,1) .6s;
        -o-transition: color .3s cubic-bezier(0.7,0,0.3,1) .6s;
        transition: color .3s cubic-bezier(0.7,0,0.3,1) .6s;
    }
    .ms-logo__default .h4 {
        margin: 0;
        line-height: 1.6;
    }
    .navbar-white .ms-logo__default {
        color: #fff;
    }
    .ms-logo__default.active {
        color: #fff;
        -webkit-transition: color .1s cubic-bezier(0.7,0,0.3,1);
        -o-transition: color .1s cubic-bezier(0.7,0,0.3,1);
        transition: color .1s cubic-bezier(0.7,0,0.3,1);
    }
    .logo-dark,
    .logo-light {
        position: absolute;
        height: 100%;
        opacity: 0;
        -webkit-transition: opacity .3s cubic-bezier(0.7,0,0.3,1) .6s;
        -o-transition: opacity .3s cubic-bezier(0.7,0,0.3,1) .6s;
        transition: opacity .3s cubic-bezier(0.7,0,0.3,1) .6s;
    }
    .ms-logo img {
        width: auto;
        height: 100%;
        background-color: initial;
    }
    .logo-dark.active,
    .logo-light.active {
        opacity: 1;
        -webkit-transition: opacity .3s;
        -o-transition: opacity .3s;
        transition: opacity .3s;
    }
    /* 2.2 Burger button */
    .hamburger {
        padding-right: 0;
        margin-left: auto;
        overflow: visible;
        cursor: pointer;
        z-index: 7;
        border: 0;
        -webkit-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-duration: .1s cubic-bezier(0.7,0,0.3,1);
        -o-transition-duration: .1s cubic-bezier(0.7,0,0.3,1);
        transition-duration: .1s cubic-bezier(0.7,0,0.3,1);
        transition-property: opacity, -webkit-filter;
        -webkit-transition-property: opacity, -webkit-filter;
        -o-transition-property: opacity, filter;
        transition-property: opacity, filter;
        transition-property: opacity, filter, -webkit-filter;
    }
    .navbar-white .hamburger-label {
        color: #fff;
    }
    .hamburger-label {
        display: block;
        font-family: inherit;
        font-size: initial;
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left:0;
        padding-right: 4em;
        text-transform: uppercase;
        -webkit-transition: color .3s cubic-bezier(0.7,0,0.3,1) .6s;
        -o-transition: color .3s cubic-bezier(0.7,0,0.3,1) .6s;
        transition: color .3s cubic-bezier(0.7,0,0.3,1) .6s;
        font-weight: 400 !important;
    }
    .hamburger.is-active .hamburger-label {
        color: #fff !important;
        -webkit-transition: color .1s cubic-bezier(0.7,0,0.3,1);
        -o-transition: color .1s cubic-bezier(0.7,0,0.3,1);
        transition: color .1s cubic-bezier(0.7,0,0.3,1);
    }
    .hamburger-box {
        position: relative;
        display: flex;
        width: 100px;
        height: 20px;
        float: right;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: 0;
    }
    .hamburger-inner {
        display: block;
        top: 0;
    }
    .navbar-white .hamburger-inner,
    .navbar-white .hamburger-inner:after,
    .navbar-white .hamburger-inner:before {
        background-color: #602a39;
    }
    .hamburger-inner:after,
    .hamburger-inner:before {
        display: block;
        content: '';
    }
    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #151515;
        -webkit-transition: all .3s cubic-bezier(0.7,0,0.3,1) .6s;
        -o-transition: all .3s cubic-bezier(0.7,0,0.3,1) .6s;
        transition: all .3s cubic-bezier(0.7,0,0.3,1) .6s;
        right: 0;
    }
    .hamburger-inner:before {
        top: 8px;
        left: -8px;
    }
    .hamburger-inner:after {
        top: 16px;
        width: 26px;
    }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner:after {
        background-color: #fff;
        -webkit-transition-delay: .1s;
             -o-transition-delay: .1s;
                transition-delay: .1s;
    }
    .hamburger.is-active .hamburger-inner {
        -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
        transform: translate3d(0, 8px, 0) rotate(45deg);
    }
    .hamburger.is-active .hamburger-inner:before {
        opacity: 0;
        -webkit-transition: opacity .3s cubic-bezier(0.7,0,0.3,1) 0s;
        -o-transition: opacity .3s cubic-bezier(0.7,0,0.3,1) 0s;
        transition: opacity .3s cubic-bezier(0.7,0,0.3,1) 0s
    }
    .hamburger.is-active .hamburger-inner:after {
        width: 30px;
        -webkit-transform: translate3d(0, -16px, 0) rotate(-90deg);
        transform: translate3d(0, -16px, 0) rotate(-90deg);
    }
    
    /* 2.3 Collapse navigation */
    .height-full-viewport {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        transform: translateY(-100%);
        background-color: #151515;
        z-index: 6;
        overflow: hidden;
        -webkit-transition: transform  0.8s cubic-bezier(0.7,0,0.3,1) .1s;
        -o-transition: transform  0.8s cubic-bezier(0.7,0,0.3,1) .1s;
        transition: transform  0.8s cubic-bezier(0.7,0,0.3,1) .1s;
    }
    .ms-nav.is-visible .height-full-viewport {
        height: 100vh;
        transform: translateY(0%);
        -webkit-transition: transform 1s ease;
        -o-transition: transform 1s ease;
        transition: transform 1s ease;
    }
    .ms-menu-section {
        position: relative;
        margin: 15px;
        padding: 80px 0;
        width: 100%;
        height: 80%;
        overflow: auto;
    }
    .ms-menu-section:before {
      content: '\200B';
      margin-left: -0.25em; 
      display: inline-block;
      height: 10%; 
      vertical-align: middle;
     }
    .ms-navbar {
        max-width: 150px;
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
        list-style: none;
    }
    .ms-navbar > .ms-nav-item {
        cursor: pointer;
        position: relative;
        padding: .75em 0;
        width: 300px;
        white-space: nowrap;
        opacity: 0;
        -webkit-transition: opacity .6s cubic-bezier(0.7,0,0.3,1);
        -o-transition: opacity .6s cubic-bezier(0.7,0,0.3,1);
        transition: opacity .6s cubic-bezier(0.7,0,0.3,1);
    }
    .ms-navbar > a {
        display: block;
    }
    .nav-item__btn {
        display: inline-block;
        text-transform: uppercase;
        line-height: 1.2;
        padding: 0 0.25em;
        position: relative;
    }
    .ms-menu-section .nav-item__btn {
        font-size: 1.75em;
        letter-spacing: .02em;
        color: #fff;
        font-weight: 700;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .ms-menu-section .nav-item__btn::before {
        content: '';
        position: absolute;
        left: 0;
        background: #df1f29;
        height: 1px;
        top: 50%;
        width: 0;
        -webkit-transition: width .3s ease;
        -o-transition: width .3s ease;
        transition: width .3s ease;
    }
    .ms-menu-section .nav-item__label {
        position: relative;
        display: block;
        padding: 0.2em 0 0 0.5em;
        color: #555;
        -webkit-transition: color .3s ease;
        -o-transition: color .3s ease;
        transition: color .3s ease;
        text-decoration: none;
        transition-delay: 100ms;
    }
    .ms-nav-item:hover .nav-item__label {
        color: #9a9a9a;
    }
    .ms-nav.is-visible .ms-nav-item {
        opacity: 1;
        -webkit-transition: opacity .3s ease .3s;
        -o-transition: opacity .3s ease .3s;
        transition: opacity .3s ease .3s;
    }
    .ms-nav-item .nav-item__btn {
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    .ms-menu-section ul > li:active .nav-item__btn,
    .ms-menu-section ul > li:focus .nav-item__btn,
    .ms-menu-section ul > li:hover .nav-item__btn {
        color: inherit;
        opacity: 1;
        padding-left: 2rem;
    }
    .ms-menu-section ul > li:active .nav-item__btn::before,
    .ms-menu-section ul > li:focus .nav-item__btn::before,
    .ms-menu-section ul > li:hover .nav-item__btn::before {
        width: 1.5rem;
    }
    
    /*Sub menu*/
    .ms-menu-section .ms-navbar .sub-menu {
        padding-left: 0;
        margin-left: 0;
        list-style: none;
        display: block;
    }
    .ms-menu-section .sub-menu .nav-item__label {
        display: none;
    }
    .ms-menu-section .sub-menu .ms-nav-item .nav-item__btn {
        padding: .5em;
        color: #fff !important;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        margin: 0;
    }
    .ms-menu-section .sub-menu .ms-nav-item a:hover .nav-item__btn {
        opacity: .4;
    }
    .sub-menu .nav-item__btn::before {
        width: 0 !important;
        margin: 15px 0;
    }
    .sub-menu li {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        margin-top: 4px;
    }
    .ms-menu-section .sub-menu .sub-menu > li .nav-item__btn {
        color: #fff !important;
    }
    .ms-nav-item.active > .sub-menu {
        visibility: visible;
    }
    .force-overflow{
        min-height: 450px;
    }
    .ms-menu-section::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #555;
    }
    .ms-menu-section::-webkit-scrollbar{
        width: 4px;
        background-color: #F5F5F5;
    }
    .ms-menu-section::-webkit-scrollbar-thumb{
        background-color: #151515;
        border: 1px solid #555555;
    }
    .sub-menu .menu-item-has-children > .sub-menu {
        padding-left: 20px;
    }
    .content-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #111;
        opacity: 0;
        z-index: 3;
    }
    
    /**
     * 3. Pages Style
     */
    
    .ms-preloader {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        opacity: 1;
        visibility: visible;
        background-color: #151515;
    }
    .ms-main-container {
        padding-top: 12em;
    }
    .ms-main-container::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: -1;
    }
    .ms-container {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        transform: translateY(0px);
        transition: transform .8s ease;
    }
    .page-template-page-full-slider .ms-container {
        overflow-x: initial;
    }
    .ms-container.is-parallax {
        transform: translateY(30vh);
    }
    .ms-section__block {
        padding: 0;
        clear: both;
        max-width: 1230px;
        margin: 0 auto 90px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .single-post-title {
        width: 100%;
        margin: 0 auto 3em;
    }
    .ms-section__block-small {
        padding: 0 0 20px;
    }
    .ms-section__block p:not(.logged-in-as, .comment-notes) {
        margin-bottom: 15px;
    }
    .ms-section__block img {
        max-width: 100%;
        height: auto;
    }
    .page-header {
        max-width: 75%;
        position: relative;
        margin: 30px 0 10px;
        line-height: 1.2;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        text-transform: uppercase;
    }
    .page-header span {
        display: block;
    }
    .ms-error-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ms-error-page .ms-section__block {
        text-align: center;
    }
    .ms-error-page .page-header {
        max-width: 100%;
    }
    .ms-error-page .ms-page-title,
    .ms-error-page .page-header {
        text-align: center !important;
    }
    .ms-error-page .ms-page-title h1 {
        color: #999999;
        opacity: .4;
    }
    .ms-error-page .ms-page-title h1 {
        font-size: calc(140px + 1vw);
        margin: 30px 0;
    }
    .ms-error-page .ms-page-title h1 span{
        font-size: calc(80px + 1vw);
    }
    .ms-error-page a {
        margin: 30px auto 15px;
    }
    .page-desc-block {
        width: 100%;
        margin-bottom: 15px;
        letter-spacing: .05em;
        line-height: 1.5;
        font-weight: 300;
    }
    .page-desc {
        max-width: 50vh;
        display: inline-block;
    }
    
    /**
     * 4. Home Slider
     */
    
    .page-template-page-full-slider .ms-main-container,
    .slider-template-default.single-slider .ms-main-container {
        display: flex;
        padding: 0 !important;
    }
    
    .page-template-page-full-slider .ms-container,
    .slider-template-default.single-slider .ms-container {
        padding-top: 0 !important;
    }
    .swiper-container {
        position: fixed;
        width: 100%;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        left: 0;
        top: 0;
        background-color: #151515;
    }
    .swiper-wrapper {
      align-items: center; /* add this will all relevant prefixes */
    }
    .swiper-slide {
        overflow: hidden;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 1;
        background: -webkit-linear-gradient(top, black 0, transparent 50%, transparent 63%, rgba(0, 0, 0, 1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(50%, transparent), color-stop(63%, transparent), to(rgba(0, 0, 0, 1)));
        background: -o-linear-gradient(top, black 0, transparent 50%, transparent 63%, rgba(0, 0, 0, 1) 100%);
        background: linear-gradient(to bottom, black 0, transparent 50%, transparent 63%, rgba(0, 0, 0, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#c9000000', GradientType=0);
        -webkit-transition: all .65s ease;
        -o-transition: all .65s ease;
        transition: all .65s ease;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
    }
    .swiper-slide-duplicate-active .overlay,
    .swiper-slide-active .overlay {
        opacity: .4;
    }
    .slide-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #000;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
    }
    .slide-inner--image {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: .2;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-transform: scale(1.07);
            -ms-transform: scale(1.07);
                transform: scale(1.07);
        -webkit-transition: opacity .6s ease-in-out, transform 2s ease .7s;
        -webkit-transition: opacity .6s ease-in-out, -webkit-transform 2s ease .7s;
        transition: opacity .6s ease-in-out, -webkit-transform 2s ease .7s;
        -o-transition: opacity .6s ease-in-out, transform 2s ease .7s;
        transition: opacity .6s ease-in-out, transform 2s ease .7s;
        transition: opacity .6s ease-in-out, transform 2s ease .7s, -webkit-transform 2s ease .7s;
    }
    .swiper-slide-duplicate-active .slide-inner--image,
    .swiper-slide-active .slide-inner--image {
        opacity: 1;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
    }
    .slide-inner--video .fullscreen-bg__video {
        position: fixed;
        right: 0;
        bottom: 0;
        opacity: .2;
        min-width: 100%; 
        min-height: 100%;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-transition: opacity .6s ease-in-out;
        -webkit-transition: opacity .6s ease-in-out;
        transition: opacity .6s ease-in-out;
        -o-transition: opacity .6s ease-in-out;
        transition: opacity .6s ease-in-out;
        transition: opacity .6s ease-in-out;
    }
    .swiper-slide-duplicate-active .slide-inner--video .fullscreen-bg__video,
    .swiper-slide-active .slide-inner--video .fullscreen-bg__video {
        opacity: 1;
    }
    /* 4.1 Slider navigation buttons */
    .swiper-button-prev,
    .swiper-button-next {
        text-transform: uppercase;
        color: #fff;
        letter-spacing: .2em;
        line-height: 2em;
        font-size: 12px;
        width: auto;
        height: 24px;
        background-image: none !important;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .swiper-button-prev {
        padding-left: 5em;
        left: 0;
        -webkit-transition: padding-left .3s ease;
        -o-transition: padding-left .3s ease;
        transition: padding-left .3s ease;
    }
    .swiper-button-next {
        padding-right: 5em;
        right: 0;
        -webkit-transition: padding-right .3s ease;
        -o-transition: padding-right .3s ease;
        transition: padding-right .3s ease;
    }
    .swiper-button-prev::after {
        content: "";
        width: 3em;
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: calc(50% - 1px);
        -webkit-transition: width .3s ease;
        -o-transition: width .3s ease;
        transition: width .3s ease;
    }
    .swiper-button-next::after {
        content: "";
        width: 3em;
        height: 1px;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: calc(50% - 1px);
        -webkit-transition: width .3s ease;
        -o-transition: width .3s ease;
        transition: width .3s ease;
    }
    .swiper-button-prev:hover {
        padding-left: 90px;
    }
    .swiper-button-prev:hover::after {
        width: 65px;
    }
    .swiper-button-next:hover {
        padding-right: 90px;
    }
    .swiper-button-next:hover::after {
        width: 65px;
    }
    
    /* 4.2 Slider inner info */
    .slide-inner--info {
        position: absolute;
        width: auto;
        min-height: 50px;
        bottom: 3em;
        padding: 0 3em;
        color: #fff;
        z-index: 1;
        opacity: 0;
        -webkit-transition: opacity 1s ease;
        -o-transition: opacity 1s ease;
        transition: opacity 1s ease;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .swiper-slide-active .slide-inner--info {
        opacity: 1;
        -webkit-transition: opacity 1s ease 1s;
        -o-transition: opacity 1s ease 1s;
        transition: opacity 1s ease 1s;
    }
    .slide-inner--info h1 {
        margin: 12px 0;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 1em;
        color: #fff;
    }
    .slide--info__link {
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        border-bottom: solid 2px;
    }
    .swiper-slide--bottom {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        right: 0;
        height: 90px;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }
    
    /* 4.3 Pagination */
    .expanded-timeline {
        position: absolute;
        z-index: 3;
        bottom: 2.8em;
        right: 3em;
        width: 40vh;
        height: 60px;
    }
    .swiper-pagination {
        z-index: 4;
        width: 85%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: rgba(255, 255, 255, .5);
        perspective: 1000px;
        position: absolute;
        top: 34px;
    }
    .swiper-container-vertical .swiper-pagination-progressbar {
        transform: rotate(-90deg);
        -webkit-transform-origin: top right;
        -moz-transform-origin: top right;
        -ms-transform-origin: top right;
        -o-transform-origin: top right;
        transform-origin: top right;
        height: 34vh;
        width: 1px;
        position: absolute;
    }
    .swiper-pagination-progressbar-fill {
        background: #fff !important;
    }
    .expanded-timeline__counter {
        margin-left: 1.8em;
    }
    .expanded-timeline__counter span {
        text-align: center;
        margin-right: 100%;
        padding: 8px 0;
        color: #fff;
        display: block;
    }
    .swiper-counter {
        position: relative;
        width: auto;
        height: 16px;
        margin-bottom: .6em;
    }
    .swiper-counter .count:not(.start) {
        opacity: 0;
    }
    .swiper-counter .count {
        display: block;
        position: absolute;
    }
    .expanded-timeline__total {
        padding-top: .6em;
    }
    .scroll-message {
        position: absolute;
        right: 0;
        top: 8px;
        color: #fff;
        opacity: .5;
        font-size: 12px;
        letter-spacing: .15em;
    }
    .scroll-svg {
        width: 24px;
        margin: 0 auto 1.2em;
        display: block;
    }
    .edit-full-slider {
        position: fixed;
        z-index: 2;
        top: 50vh;
        left: 48%;
    }
    
    /**
     * 5. Albums
     */
    
    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }
    .filtr-btn {
        display: inline-block;
        margin-bottom: 2em;
        padding-left: 0;
    }
    .filtr-btn li {
        cursor: pointer;
        display: inline-block;
        opacity: .5;
        margin-bottom: 15px;
        -webkit-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        transition: opacity .3s ease;
    }
    .filtr-btn h6 {
        margin: 0;
        text-transform: uppercase;
        padding-right: 1em;
    }
    .filtr-btn li.active {
        opacity: 1;
    }
    .filtr-btn li:hover {
        opacity: 1 !important;
    }
    .album-item {
        position: relative;
        margin-bottom: 30px;
    }
    .album-item a {
        padding-top: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        position: relative;
    }
    .album-item__img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-position: 50% 50%;
        background: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        -webkit-transition: -webkit-transform .3s cubic-bezier(.55, 0, .1, 1);
        transition: -webkit-transform .3s cubic-bezier(.55, 0, .1, 1);
        -o-transition: transform .3s cubic-bezier(.55, 0, .1, 1);
        transition: transform .3s cubic-bezier(.55, 0, .1, 1);
        transition: transform .3s cubic-bezier(.55, 0, .1, 1), -webkit-transform .3s cubic-bezier(.55, 0, .1, 1);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .album-item__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        overflow: hidden;
    }
    .album-item__overlay h5 {
        text-transform: uppercase;
    }
    .album-item__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        z-index: 1;
        overflow: hidden;
        opacity: 0;
        -webkit-transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
        -o-transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
        transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
    }
    .album-item__overlay h5 {
        position: relative;
        color: #fff;
        margin: 0;
        max-width: 100%;
        padding: 1em;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 1;
        -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
                transform: scale(1.5);
        opacity: 0;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    .album-item:hover .album-item__img {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
    }
    .album-item:hover .album-item__cover,
    .album-item:hover .album-item__overlay h5 {
        opacity: 1;
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
    }
    .no-albums__list {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #313131;
    }
    .no-albums__message p {
        color: #fff !important;
    }
    .ms-single-album__nav .post-navigation {
        width: 100%;
    }
    .ms-single-album__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 30px;
        margin: 0 auto;
        position: relative;
    }
    .ms-single-album__nav a {
        padding: 0;
        color: #151515;
        -webkit-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        transition: opacity .3s ease;
    }
    .go_to_albums {
        position: absolute;
    }
    
    /**
     * 6. Gallery
     */
    
    #gallery {
        margin-bottom: 3em;
    }
    .ug-thumb-overlay:hover::before {
        top: 15px;
        right: 15px;
    }
    .ug-thumb-overlay:hover::after {
        bottom: 15px;
        left: 15px;
    }
    .ug-thumb-image {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        opacity: 1;
        -webkit-transition: opacity 2s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s, -webkit-transform .3s ease !important;
        transition: opacity 2s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s, -webkit-transform .3s ease !important;
        -o-transition: transform .3s ease, opacity 2s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s !important;
        transition: transform .3s ease, opacity 2s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s !important;
        transition: transform .3s ease, opacity 2s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s, -webkit-transform .3s ease !important;
    }
    .ug-thumb-image {
        -webkit-transform: scale(1) !important;
            -ms-transform: scale(1) !important;
                transform: scale(1) !important;
    }
    .ug-thumb-wrapper.ug-tile.ug-tile-clickable.ug-thumb-ratio-set:hover .ug-thumb-image {
        -webkit-transform: scale(1.1) !important;
            -ms-transform: scale(1.1) !important;
                transform: scale(1.1) !important;
    }
    
    /**
     * 7. Blog
     */
    
    .ms-blog {
        padding-right: 0;
        padding-left: 0;
    }
    .single-post__content img {
        max-width: 100%;
    }
    .single-post__content ul li:not(.single-post-desc li) {
        margin-bottom: 4px;
    }
    .page-links {
        width: 100%;
        text-align: center;
    }
    .page-links a {
        color: rgba(103,103,103,.7);
    }
    .page-links span {
        padding: 4px;
    }
    .page-numbers {
         padding: 4px;
    }
    /*Gallery items*/
    .gallery {
        margin-bottom: 1.5em;
    }
    
    .gallery-item {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 100%;
    }
    
    .gallery-item a,
    .gallery-item a:hover,
    .gallery-item a:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: none;
        display: inline-block;
    }
    
    .gallery-columns-2 .gallery-item {
        max-width: 50%;
    }
    
    .gallery-columns-3 .gallery-item {
        max-width: 33.33%;
    }
    
    .gallery-columns-4 .gallery-item {
        max-width: 25%;
    }
    
    .gallery-columns-5 .gallery-item {
        max-width: 20%;
    }
    
    .gallery-columns-6 .gallery-item {
        max-width: 16.66%;
    }
    
    .gallery-columns-7 .gallery-item {
        max-width: 14.28%;
    }
    
    .gallery-columns-8 .gallery-item {
        max-width: 12.5%;
    }
    
    .gallery-columns-9 .gallery-item {
        max-width: 11.11%;
    }
    
    .gallery-caption {
        display: block;
    }
    .gallery-item {
        display: inline-block;
        text-align: left;
        vertical-align: top;
        margin: 0 0 1.5em;
        padding: 0 1em 0 0;
        width: 50%;
    }
    
    .gallery-columns-1 .gallery-item {
        width: 100%;
    }
    
    .gallery-columns-2 .gallery-item {
        max-width: 50%;
    }
    
    .gallery-item a,
    .gallery-item a:hover,
    .gallery-item a:focus,
    .widget-area .gallery-item a,
    .widget-area .gallery-item a:hover,
    .widget-area .gallery-item a:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: none;
        display: inline-block;
        max-width: 100%;
    }
    
    .gallery-item a img {
        display: block;
        -webkit-transition: -webkit-filter 0.2s ease-in;
        transition: -webkit-filter 0.2s ease-in;
        transition: filter 0.2s ease-in;
        transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .gallery-item a:hover img,
    .gallery-item a:focus img {
        -webkit-filter: opacity(60%);
        filter: opacity(60%);
    }
    
    .gallery-caption {
        display: block;
        text-align: left;
        padding: 0 10px 0 0;
        margin-bottom: 0;
    }
    
    /*Pagination*/
    .navigation.pagination {
        text-align: center;
    }
    .ms-pagination .nav-links {
        display: inline-flex;
    }
    .ms-pagination .page-numbers,
    .page-numbers.current {
        display: flex;
        align-items: center;
        margin: 0 4px;
        padding: 4px 9px;
        border: 1px solid;
        border-color:  rgba(103,103,103,.5);
        transition: all .3s ease;
        color: rgba(103,103,103,.5);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
         -khtml-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }
    .ms-section__block a.prev,
    .ms-section__block a.next {
        padding: 0;
        border: none;
    }
    .ms-section__block a.prev i,
    .ms-section__block a.next i {
        font-size: 28px;
    }
    .ms-section__block .page-numbers.current {
        border: 1px solid #151515;
    }
    .ms-section__block .page-numbers.current,
    .ms-section__block .page-numbers:hover {
        background: #151515;
        border-color: #151515;
        color: #fff;
    }
    .ms-section__block .prev.page-numbers:hover,
    .ms-section__block .next.page-numbers:hover {
        background: none;
        color: rgba(103,103,103,1);
    }
    .ms-single-post__nav {
        display: block;
        float: left;
        width: 100%;
        clear: both;
        padding: 20px 0;
        border-top: solid 1px #ddd; 
        border-bottom: solid 1px #ddd; 
    }
    .ms-single-post__nav .post-title,
    .ms-single-post__nav .post-title {
        display: block;
        color: #151515;
        font-size: 19px;
        margin: 4px 0 0;
        text-transform: uppercase;
        -webkit-transition: color .3s ease;
            -o-transition: color .3s ease;
            transition: color .3s ease;
    }
    .ms-single-post__nav .meta-nav {
        color: initial;
        letter-spacing: 0.1em;
        opacity: .6;
        font-size: 14px;
        font-weight: 400;
    }
    .nav-previous {
        float: left;
        text-align: left;
        position: relative;
        max-width: 50%;
    }
    .nav-next {
        float: right;
        text-align: right;
        position: relative;
        max-width: 50%;
    }
    .nav-next a,
    .nav-previous a {
        display: block;
    }
    .nav-next a:hover .post-title,
    .nav-previous a:hover .post-title{
        color: #df1f29;
    }
    
    /*Post Video*/
    .embed-responsive {
      position: relative;
      display: block;
      width: 100%;
      padding: 0;
      overflow: hidden;
    }
    
    .embed-responsive::before {
      display: block;
      content: "";
    }
    
    .embed-responsive .embed-responsive-item,
    .embed-responsive iframe,
    .embed-responsive embed,
    .embed-responsive object,
    .embed-responsive video {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
    .embed-responsive-21by9::before {
      padding-top: 42.857143%;
    }
    .embed-responsive-16by9::before {
      padding-top: 56.25%;
    }
    .embed-responsive-4by3::before {
      padding-top: 75%;
    }
    .embed-responsive-1by1::before {
      padding-top: 100%;
    }
    
    /*Widget*/
    .ms-right-sidebar {
        padding-left: 20px;
    }
    .widget select {
        width: 100%;
    }
    .widget_text .alignnone {
        margin: 5px 0 20px 0;
    }
    .widget ul li li {
        border: 0;
        padding-left: 24px;
        padding-left: 1.5rem;
    }
    .widget_nav_menu ul li li,
    .widget_top-posts ul li,
    .widget_top-posts ul li li,
    .widget_rss_links ul li,
    .widget_rss_links ul li li,
    .widget-grofile ul.grofile-links li,
    .widget-grofile ul.grofile-links li li {
        padding-bottom: 0.25em;
        padding-top: 0.25em;
        border-top: none;
    }
    .widget_nav_menu ul li li {
        padding-bottom: 0;
    }
    .ms-right-sidebar aside {
        margin-bottom: 50px;
        width: 100%;
        float: left;
        clear: both;
    }
    .ms-right-sidebar h5 {
        padding-bottom: 20px;
        margin: 0;
        color: #999999;
        text-transform: uppercase;
    }
    .ms-right-sidebar ul {
        padding-left: 0;
    }
    .ms-right-sidebar ul li {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 15px;
        margin-left: 15px;
        padding: 10px 0 9px;
        line-height: 1.2em;
        border-top: 1px solid #ddd;
    }
    .ms-right-sidebar ul a {
        color: #151515;
        line-height: 1.4;
        -webkit-transition: color .3s ease;
        -o-transition: color .3s ease;
        transition: color .3s ease;
    }
    .ms-right-sidebar ul a
    .ms-right-sidebar ul a:hover {
        color: #df1f29;
    }
    .rss-date,
    .post-date {
        margin-left: 0;
        margin-right: auto;
        color: #999;
        font-size: 14px;
        display: block;
    }
    .ms-blogpage-image {
        overflow: hidden;
        min-width: 100%;
        min-height: 300px;
        height: 450px;
        margin-bottom: 20px;
    }
    .ms-post__image {
        position: relative;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    .ms-post__header {
        margin-bottom: 20px;
    }
    .post-title {
        margin-top: 0;
        text-transform: uppercase;
    }
    .single-post-desc {
        list-style: none;
        padding-left: 0;
    }
    .post-title + .single-post-desc {
        margin-top: 10px;
    }
    .post-details {
        display: inline-block;
        vertical-align: top;
        margin: 0 10px 0 0;
    }
    .post-details span {
        font-size: 14px;
        text-transform: capitalize;
        opacity: .6;
        transition: opacity .3s ease;
        line-height: 1.5;
    }
    .post-details i {
        font-size: 16px;
        opacity: .6;
        float: left;
        margin-right: 4px;
    }
    .post-details a {
        color: inherit;
    }
    .post-cat span:last-child a {
        display: inline-flex;
    }
    .post-details:hover span {
        opacity: 1;
    }
    .ms-right-sidebar ul {
        list-style-type: none;
        list-style: none;
    }
    .ms-right-sidebar .comment-author-link {
        display: inline-block;
        text-transform: capitalize;
    }
    .ms-right-sidebar .recentcomments a {
        color: #212121;
        font-size: 16px;
        text-transform: none;
    }
    .ms-right-sidebar .children li {
        border-top: 0;
        margin: 0;
        padding: 10px 0 0 0;
    }
    .ms-right-sidebar li .rsswidget {
        display: block;
    }
    .ms-right-sidebar li .rss-date {
        margin-bottom: 16px;
    }
    .ms-right-sidebar .textwidget {
        margin-left: 15px;
        margin-right: 15px;
    }
    .ms-right-sidebar .textwidget img {
        max-width: 100%;
    }
    .widget_nav_menu .nav-item__btn {
        color: inherit;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.4;
        font-weight: 400;
        letter-spacing: 0;
        padding: 0;
    }
    .widget_nav_menu .nav-item__btn::before {
        display: none;
    }
    .widget_nav_menu .menu-item-has-children .sub-menu {
        margin: 0 0 0 18px;
        padding: 0; 
    }
    .widget_nav_menu .menu-item-has-children .sub-menu li {
        margin: 0;
    }
    .widget_nav_menu .menu-item-has-children .nav-item__btn:hover {
        opacity: .4;
    }
    .widget_nav_menu .ms-nav-item:active .nav-item__btn,
    .widget_nav_menu .ms-nav-item:focus .nav-item__btn,
    .widget_nav_menu .ms-nav-item:hover .nav-item__btn {
        padding-left: 0;
    }
    .widget_nav_menu .nav-item__label {
        display: none;
    }
    .ms-search-widget {
        position: relative;
    }
    input[type="password"] {
        width: auto;
        display: inline-block;
        height: 32px;
        padding: 0;
        border: solid 1px;
    }
    
    input[type="submit"] {
        position: relative;
        display: inline-block;
        right: 5px;
        top: 0px;
        padding: 0;
        margin: 0;
        cursor: pointer;
        width: 68px;
        height: 32px;
        background-color: #151515;
        border: none;
        color: #fff;
    }
    .search-field {
        position: relative;
        display: block;
        padding: 0 1em;
        margin-right: 0;
        width: 100%;
        height: 34px;
        font-size: calc(16px + 2 * (100vw - 992px)/1508);
        color: #151515;
        font-weight: 300;
        background-image: none;
        border: 1px solid;
        border-color:  #151515;
    }
    input[type="submit"].search-submit {
        position: absolute;
        display: block;
        right: 16px;
        top: 1px;
        opacity: 1;
        z-index: 1;
        padding: 0;
        margin: 0;
        cursor: pointer;
        width: 68px;
        height: 32px;
        background-color: #151515;
        border: none;
        color: #fff;
    }
    .ms-post__share {
        margin-top: 20px;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .share-title {
        margin-top: 0;
        margin-bottom: 0;
    }
    /*Calendar*/
    #calendar_wrap {
        display: table;
        width: 100%;
        padding: 0 15px;
    }
    #wp-calendar {
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        font-size: 14px;
        border: solid 1px rgba(103, 103, 103, .15)
    }
    #wp-calendar td,
    #wp-calendar th {
        border: none;
        text-align: center;
        padding: 0.4em;
        line-height: 1.5;
    }
    #wp-calendar tr {
        border-bottom: solid 1px rgba(103, 103, 103, .15);
    }
    #wp-calendar tfoot tr {
        border-bottom: none;
    }
    #wp-calendar caption{
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    #wp-calendar th{
        background-color: #151515;
        color: #fff;
    }
    .ms-right-sidebar td a {
        padding: 0;
        color: #df1f29;
    }
    .nf-search {
        margin: 0 auto;
    }
    
    /*Tag Cloud*/
    .tagcloud {
        margin-right: 15px;
        margin-left: 15px;
    }
    .single-post__tags {
        width: 100%;
        line-height: 1.3em;
        float: left;
    }
    .single-post__tags a {
        transition: all .3s ease;
    }
    .single-post__tags a:before {
        content: '#';
    }
    .tagcloud a {
        font-size: 10pt !important;
        padding: 4px 8px !important;
        margin-right: 8px !important;
        margin-bottom: 8px !important;
        background: #151515;
        float: left;
        border: solid 1px #151515;
        color: #fff !important;
        -webkit-transition: opacity .3s ease !important;
        -o-transition: opacity .3s ease !important;
        transition: opacity .3s ease !important;
        text-transform: uppercase;
    }
    .single-post__tags {
        color: #999;
        margin-bottom: 20px;
    }
    .single-post__tags a {
        margin-right: 8px;
        color: #212121;
        display: inline-flex;
        opacity: .6;
    }
    .single-post__tags a:hover,
    .tag-cloud-link:hover {
        opacity: 1;
    }
    
    /*Post item*/
    .ms-post-item {
        padding-bottom: 20px;
    }
    .post-item__img {
        position: relative;
        overflow: hidden;
    }
    .ms-posts .ms-grid-item {
        margin-bottom: 30px;
        page-break-inside: avoid;
        break-inside: avoid;
    }
    .album-item__overlay::before,
    .post-item__img::before {
        content: '';
        position: absolute;
        width: 110%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 1;
        transition: all .5s linear;
        background-color: #f1f1f1;
    }
    .loaded .post-item__img::before,
    .loaded .album-item__overlay::before{
       opacity: 0;
    }
    .freezing.ms-grid-item {
       pointer-events: none !important; 
    }
    .post-item__img img {
        width: 100%;
        height: auto;
        padding: 0;
        display: block;
    }
    .post-item__img::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        background: rgba(231, 55, 39, 0);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(231, 55, 39, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(231, 55, 39, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(231, 55, 39, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: -webkit-radial-gradient(center, ellipse, rgba(231, 55, 39, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: -o-radial-gradient(center, ellipse, rgba(231, 55, 39, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: radial-gradient(ellipse at center, rgba(231, 55, 39, 0) 0%, rgba(0, 0, 0, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e73727', endColorstr='#000000', GradientType=1);
        -webkit-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        transition: opacity .3s ease;
    }
    .post-item__info {
        position: relative;
        margin-left: 2.5em;
    }
    .post-item__title {
        display: inline-block;
        max-width: 400px;
        margin-left: 0;
        margin-right: auto;
        margin: 20px 0px 10px;
    }
    .ms-post-item.sticky::before {
        content: 'featured';
        display: inline-block;
        text-transform: uppercase;
        background-color: #212121;
        color: #fff;
        padding: 4px 8px 2px;
        margin-bottom: 0.5384615385em;
    }
    .post-item__bottom a {
        width: 100%;
    }
    .post-item__date {
        display: inline-block;
        color: #151515;
        margin-left: 0;
        margin-right: auto;
        opacity: .7;
        font-size: 14px;
    }
    .post-item__link {
        display: inline-block;
        float: right;
        margin-left: auto;
        margin-right: 0;
        position: relative;
        padding-right: 3em;
        font-size: 14px;
        text-transform: capitalize;
        -webkit-transition: padding-right .3s ease, letter-spacing .3s ease;
        -o-transition: padding-right .3s ease, letter-spacing .3s ease;
        transition: padding-right .3s ease, letter-spacing .3s ease;
    }
    .post-item__link::after {
        content: '';
        width: 2em;
        height: 1px;
        position: absolute;
        top: calc(50% + 2px);
        right: 0;
        background: #df1f29;
        -webkit-transition: width .3s ease;
        -o-transition: width .3s ease;
        transition: width .3s ease;
    }
    .post-item__link:hover {
        letter-spacing: .12em;
    }
    .ms-grid-item:hover .post-item__img::after {
        opacity: .7;
    }
    .ms-grid-item:hover .post-item__link::after {
        width: 3em;
    }
    .ms-grid-item:hover .post-item__link {
        padding-right: 4em;
    }
    .ms-pagination {
        width: 100%;
        padding: 60px 0;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .page-item {
        height: auto;
        position: relative;
        display: inline-block;
        margin: 0 .5em;
        border-right: none !important;
    }
    .page-item:last-child {
        border-right: solid 1px rgba(0, 0, 0, .1);
    }
    .page-link {
        padding: 1em;
        display: block;
        line-height: 1em;
    }
    
    /**
     * 8. About
     */
    
    .about__img img{
        width: 100%;
        max-width: 100%;
        padding-right: 50px;
     }
    .about__info {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .about__info h4 {
        margin-bottom: 15px;
    }
    .about__role {
        font-style: italic;
        margin-bottom: 30px;
        padding-left: 40px;
        position: relative;
        color: #df1f29;
    }
    .about__role::after {
        content: '';
        width: 30px;
        height: 1px;
        position: absolute;
        background: #df1f29;
        left: 0;
        top: calc(50% - 1px);
    }
    .about__clients h3 {
        text-align: center;
    }
    .clients-list {
        padding: 0;
        text-align: center;
        justify-content: center;
    }
    .clients-list li {
       list-style: none;
    }
    .clients-list li img {
        max-width: 100px;
        opacity: .6 !important;
        transition: opacity .3s ease;
    }
    .clients-list li:hover img {
        opacity: 1 !important;
    }
    
    /**
     * 9. Contact
     */
    
     .contact-block {
        margin-bottom: 6em;
     }
     .contact-block p {
        margin: 0;
     }
     .ms-contact-data {
        margin-bottom: 20px;
     }
     .ms-contact-data .h6 {
        margin-bottom: 1em;
     }
     .ms-contact-data .socials a {
        margin-top: .3em;
        padding-right: .7em;
        line-height: 1.5;
     }
    .wpcf7 {
        width: 100%;
    }
    .ms-contact__form-area h6 {
        margin-left: -15px;
    }
    .ms-contact-form {
        margin-top: 28px;
    }
    .form-group {
        padding-left: 0;
        padding-right: 20px;
        float: left;
        margin: 0;
        -webkit-transition: border-color .3s ease;
        -o-transition: border-color .3s ease;
        transition: border-color .3s ease;
    }
    .form-control,
    .wpcf7-form-control {
        position: relative;
        display: block;
        width: 100%;
        padding: 0 1em;
        height: 34px;
        font-size: calc(16px + 2 * (100vw - 992px) / 1508);
        color: #151515;
        font-weight: 300;
        margin-bottom: 20px;
        background-image: none;
        border: 1px solid;
        border-color: #555;
    }
    #message {
        min-height: 150px;
        max-height: 150px;
        max-width: 100%;
        min-width: 100%;
        padding: 10px 14px;
    }
    div.wpcf7-validation-errors {
        position: absolute;
        bottom: -2.4em;
        border: 0;
        margin: 0;
    }
    .wpcf7-response-output {
        border: none;
        margin: 0;
        padding: 0.2em 1em;
    }
    .wpcf7-validation-errors {
        font-style: italic;
        font-size: 16px;
        color: #df1f29;
    }
    .wpcf7-validation-errors::before {
        content: '* '
    }
    .wpcf7-form-control-wrap {
        display: block;
    }
    span.wpcf7-not-valid-tip {
        position: absolute;
        bottom: -1.8em;
        font-size: 13px;
        color: #df1f29;
    }
    .wpcf7 .ajax-loader {
        position: absolute;
        right: -28px;
        top: 8px;
    }
    
    /**
     * 10. Comments
     */
    
     .ms-comments-area {
        margin-top: 50px;
        display: inline-block;
        width: 100%;
     }
     .ms-comments {
        margin-right: -20px;
     }
     .ms-comments-area ul {
        list-style: none;
     }
     .ms-comment-list {
        margin-bottom: 60px;
        padding-left: 0;
     }
     .ms-comment-list .comment {
        margin: 10px 0px 10px 40px;
        padding: 4px;
        border: 1px solid rgba(21, 21, 21, .2);
     }
     .post.pingback {
        border-bottom: 1px solid rgba(21, 21, 21, .2);
     }
     .post.pingback:not(:first-child) {
        margin-top: 20px;
     }
     .ms-comment-body {
        padding-left: 0px;
        position: relative;
    }
    .ms-comment-body li {
        position: relative;
    }
    .ms-comments-title {
        margin-top: 0;
        margin-bottom: 20px;
        text-transform: capitalize;
    }
    .logged-in-as,
    .comment-notes {
        margin: 0 15px 20px 0;
        font-size: initial;
    }
    .avatar {
        width: 64px;
        height: 64px;
        position: absolute;
        top: 10px;
        left: -40px;
     }
     .ms-author {
        display: flex;
        margin-top: 0; 
        align-items: center;
        background: #f6f6f6;
     }
     .ms-author-name {
        margin-left: 45px;
        margin-right: 15px;
        padding: .5em 0;
        text-transform: capitalize;
        font-size: 16px;
     }
    .pingback.ms-author-name {
        margin-left: 0;
        margin-right: 0;
        color: inherit;
        font-size: inherit;
     }
     .pingback.ms-author-name a {
        color: inherit;
     }
     .pingback .ms-commentcontent {
        padding: 15px 0;
     }
     .ms-comment-time {
        margin-left: auto;
        margin-right: 10px;
        padding: .6em 0;
        color: #999;
        font-size: 14px;
     }
     .ms-commentcontent {
        padding: 0px 55px 0px 45px;
     }
     .ms-commentcontent p {
        margin: 0;
        font-size: 16px;
     }
     .ms-comment-footer {
        display: flex;
     }
     .ms-comment-reply {
        display: flex;
        padding: .5em 0;
        font-size: 14px;
     }
     .ms-comment-reply a {
        margin-right: 10px;
        margin-left: auto;
     }
     .ms-comments-area .children {
        margin-left: 3em;
     }
     .ms-comments-area .children > li {
        margin-bottom: 18px;
     }
     .ms-reply-title {
        margin: 0 0 5px;
     }
     #cancel-comment-reply-link {
        font-size: 16px;
        text-transform: initial;
     }
     #ms-comment {
        min-height: 150px;
        min-width: 100%;
        padding: 10px 14px;
     }
    
     /**
     * 11. Footer
     */
    
    .ms-footer {
        position:absolute;
        bottom:0;
        opacity: 0;
        width: 100%;
        height: 50px;
    }
    .ms-footer__inner {
        width: 100%;
        max-width: 1230px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .ms-footer__inner .copyright {
        margin-left: 0;
        margin-right: auto;
    }
    .ms-footer__inner .socials {
        padding: 0;
        margin-left: auto;
        margin-right: 0;
    }
    .ms-footer__inner .socials a {
        padding-left: 15px;
    }
    
    /**
     * 12. Responsive Rules
     */
    
    @media only screen and (max-width: 1445px) {
        .ms-nav {
            max-width: 1230px;
            margin: 0 auto;
            padding: 2em 0px 1em;
        }
        .navbar-white .ms-nav {
            max-width: 100%;
            padding: 1em 3em;
        }
        .edit-full-slider {
            left: 48%;
        }
    }
    @media only screen and (max-width: 1032px) {
        .ms-section__block {
            padding: 15px;
        }
        .ms-posts.ms-ajax-content {
            margin-left: -15px;
            margin-right: -15px;
        }
        .ms-post-item {
            padding: 0 15px 3em;
        }
    }
    @media only screen and (max-width: 805px) {
        body {
            position: absolute;
            top: 0;
            width: 100%;
        }
        h1.h1 {
            font-size: calc(48px + 1vw);
        }
        h6.h6 {
            font-size: 16px;
        }
        p {
            font-size: 1em;
        }
        blockquote {
            margin: 0 auto 15px;
            font-size: 1em;
        }
        .admin-bar .ms-header {
            position: absolute;
            top: 35px;
            padding: 0;
            left: 0;
            padding: 10px;
        }
        .admin-bar .ms-header .ms-nav {
            padding: 15px 0;
        }
        .ms-main-container {
            padding-top: 4em;
        }
        .expanded-timeline {
            width: 50vh;
        }
        .ms-nav {
            padding: 15px 4px;
        }
        .ms-navbar .ms-btn {
            font-size: 1.4em;
        }
        .navbar-white .ms-nav {
            max-width: 100%;
            padding: 15px 0;
        }
        .ms-navbar {
            width: 100%;
            max-width: 100%;
            text-align: center;
        }
        .ms-navbar > .ms-nav-item {
            white-space: normal;
            max-width: 80%;
            margin: 0 auto;
        }
        .nav-item__label {
            display: none;
        }
        .ms-ms-nav {
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 1.4em;
        }
        .ms-menu-section .nav-item__btn {
            font-size: 1.5em;
        }
        .ms-menu-section {
            padding: 40px 0;
            height: 90%;
        }
        .overlay {
            background: -webkit-linear-gradient(top, black 0, transparent 35%, transparent 45%, rgba(0, 0, 0, 0.9) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(35%, transparent), color-stop(45%, transparent), to(rgba(0, 0, 0, 0.9)));
            background: -o-linear-gradient(top, black 0, transparent 35%, transparent 45%, rgba(0, 0, 0, 0.9) 100%);
            background: linear-gradient(to bottom, black 0, transparent 35%, transparent 45%, rgba(0, 0, 0, 0.9) 100%);
            filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#c9000000', GradientType=0);
        }
        .slide-inner--info h1 {
            margin: 30px 15px;
        }
        .swiper-button-prev,
        .swiper-button-next {
            bottom: 7em;
            top: auto;
        }
        .swiper-button-next,
        .swiper-button-next:hover {
            padding-right: 2em;
        }
        .swiper-button-prev,
        .swiper-button-prev:hover {
            padding-left: 2em;
        }
        .swiper-button-next::after,
        .swiper-button-prev::after,
        .swiper-button-next:hover::after,
        .swiper-button-prev:hover::after {
            width: 1em;
        }
        .expanded-timeline {
            display: none;
        }
        .slide-inner--info {
            width: 100%;
            max-width: 100%;
            text-align: center;
            min-height: 50px;
            bottom: 5em;
            padding-left: 0;
            color: #fff;
            z-index: 1;
            opacity: 0;
            -webkit-transition: opacity 1s ease;
            -o-transition: opacity 1s ease;
            transition: opacity 1s ease;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .slide-inner--infop {
            position: absolute;
            text-align: center;
            min-height: 50px;
            bottom: 2em !important;
            padding-left: 0;
        }
        
        .ms-btn--slider {
            margin: 0 auto;
            display: inline-block;
            letter-spacing: .15em;
            background: #df1f29;
            color: #fff;
            font-size: 14px;
            line-height: 2.4;
            padding: 0 15px;
        }
        .ms-btn--slider::before {
            content: '';
            display: none;
            width: 0;
        }
        .ms-container {
            padding-top: 4em;
        }
        .ms-container.home-slider {
            padding-bottom: 0 !important;
        }
        .ms-section__block {
            width: auto;
            margin: 0 0 3em;
        }
        .page-desc {
            width: 100%;
            font-size: 75%;
            line-height: 1.5;
            color: #151515;
            letter-spacing: .05em;
        }
        .ms-contact-data h6 {
            margin-top: 0;
        }
        .ms-contact__form-area h6 {
            margin: 0;
        }
        .form-group {
            padding-left: 15px;
        }
        .ms-footer__inner .copyright {
            margin-left: auto;
            font-size: 85%;
        }
        .ms-footer__inner .socials {
            display: none;
        }
        .ms-right-sidebar {
            padding: 0;
            margin-top: 3em;
            margin-left: 0;
            margin-right: 0;
        }
        .ms-right-sidebar aside {
            padding-right: 0;
            padding-left: 0;
        }
        .ms-post-item {
            padding: 0 0 15px;
        }
        .ms-posts .ms-grid-item {
            margin-bottom: 20px
        }
        .post-details li {
            align-self: auto;
            margin: 0 8px 0 0;
        }
        .ms-blogpage-image {
            height: 250px;
        }
        .ms-post-date {
            margin: -50px 8px 0px 0px;
        }
        .ms-pagination {
            padding: 20px 0;
        }
        .ms-comments-area .children {
            margin-left: 1em;
        }
        /*Disable hover for effects mobile*/
        .ms-nav-item:active .nav-item__btn,
        .ms-nav-item:focus .nav-item__btn,
        .ms-nav-item:hover .nav-item__btn {
            padding-left: 7px;
        }
        .ms-nav-item:active .nav-item__btn::before,
        .ms-nav-item:focus .nav-item__btn::before,
        .ms-nav-item:hover .nav-item__btn::before {
            width: 0;
        }
    }
    @media only screen and (max-width: 766px) {
        .ms-logo__default .h4 {
            font-weight: 400;
        }
        .page-header {
            max-width: 100%;
        }
        .slide-inner--info h1 {
            font-size: 48px;
        }
        .about__img img {
            padding-right: 0;
        }
        .about__info {
            margin-top: 30px;
        }
        .about__info h4 {
            font-size: 24px;
            text-align: center;
        }
        .about__role {
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
        }
        .about__role::after {
            display: none;
        }
        .about__clients {
            margin-top: 15px;
        }
    
        .single-post-desc {
            align-items: inherit;
        }
        .ms-comment-time {
            margin-left: 45px;
            margin-right: auto;
            font-size: 13px;
        }
        .ms-author {
            flex-direction: column;
            align-items: normal;
        }
        .ms-author-name {
            padding: .5em 0 0;
        }
        .ms-comments-area .children {
            padding-left: 0;
            margin-left: 0;
        }
        .ms-commentcontent {
            padding: 20px 10px 10px 10px;
        }
        .ms-single-post__nav .post-title,
        .ms-single-post__nav .post-title {
            font-size: 16px;
            line-height: 1.2;
        }
        .edit-full-slider {
            left: 40%;
        }
        #gallery {
            margin-bottom: 0;
        }
    }
    
    /**
     * 13. WordPress Core
     */
    
    .alignnone {
        margin: 5px 20px 20px 0;
    }
    .textwidget select {
        width: 100%;
        margin-left: 0;
    }
    .aligncenter,
    div.aligncenter {
        display: block;
        margin: 5px auto 5px auto;
    }
    .rssSummary {
        line-height: 1.5;
        font-weight: 300;
        margin-bottom: 0.5em;
    }
    .alignright {
        float:right;
        margin: 5px 0 1em 40px;
    }
    .alignleft {
        float: left;
        margin: 5px 40px 20px 0;
    }
    .alignfull {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
    .wp-block-gallery.alignfull,
    .has-background-dim.alignfull {
        width: calc(100vw - 10px);
    }
    .wp-block-image.alignfull img {
        width: 100vw;
        max-width: 100vw;
    }
    figure.wp-block-image.alignwide {
        margin: 0;
    }
    /*figure.alignfull {
        margin: 1em 0;
    }*/
    p::after {
        content: '';
        clear: both;
    }
    a img.alignright {
        float: right;
        margin: 5px 0 1em 40px;
    }
    a img.alignnone {
        margin: 5px 20px 20px 0;
    }
    a img.alignleft {
        float: left;
        margin: 5px 40px 1em 0;
    }
    a img.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .wp-caption {
        max-width: 100%;
        padding: 5px 3px 10px;
    }
    .wp-caption img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
        width: auto;
    }
    .wp-caption .wp-caption-text {
        margin: 0.8075em 0;
    }
    .wp-caption p.wp-caption-text {
        font-size: 12px;
        line-height: 17px;
        font-weight: 400;
        margin: 0;
        padding: 0 4px 5px;
    }
    /* Text meant only for screen readers. */
    .screen-reader-text {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        -webkit-clip-path: inset(50%);
                clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute !important;
        width: 1px;
        word-wrap: normal !important;
    }
    
    .screen-reader-text:focus {
        background-color: #eee;
        clip: auto !important;
        -webkit-clip-path: none;
                clip-path: none;
        color: #444;
        display: block;
        font-size: 1em;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000;
        /* Above WP toolbar. */
    }
    .gallery-caption,
    .bypostauthor,
    .sticky {
      visibility: visible;
    }
    .edit-link {
        display: flex;
    }
    .grid-sizer {
        display: none;
    }
    .ms-grid-item .edit-link {
        display: inline-block;
        margin-bottom: 4px;
    }
    .edit-link a {
        text-transform: uppercase;
        font-size: 14px;
        color: #1c74c8;
        letter-spacing: 1px;
    }
    .edit-link:hover {
        text-decoration: underline;
    }
    .edit-link a .dashicons, .dashicons-before:before {
        margin-right: 0;
    }
    #accordion-panel-nav_menus h3.accordion-section-title::before {
    content: "\f107";
    font-family: dashicons;
    padding: 3px;
    }
    .custom-checkbox {
        display: none;
    }